torch>=2.2.0
transformers==4.35.0
datasets==2.14.0
tokenizers==0.14.1
huggingface_hub==0.25.1
accelerate==0.32.1
Pillow
numpy==1.26.4
faiss-cpu
scikit-learn
pandas==2.1.4
tqdm
scipy==1.11.4
matplotlib==3.8.2
seaborn==0.13.2
albumentations
opencv-python
peft==0.6.0